body {
    font-family: font-family: 'Roboto', sans-serif;;
}

.nav-menu i{
    display: flex;
    justify-content: right;
}

.site_logo img{
    width: 70px;
}

.nav li{
    display: inline;
    font-size: 20px;
}

.nav a{
    text-decoration: none;
}

.nav a:hover{
    color: red;
}



